// text style
.text-thin {font-weight: 200;}
.text-light {font-weight: 300;}
.text-regular {font-weight: 400;}
.text-semibold {font-weight: 500;}
.text-bold {font-weight: 600;}
.text-extrabold {font-weight: 700;}

// text position
.text-center {text-align:center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}